//Buttons 
button {
  border: 0;
  color: @dark-grey;
  background-color: @grey;
  cursor: pointer;
  font-weight: 600;
  font-size: 1em;
  padding: 0 10px;
  height: 30px;
  .border-radius(@min-radius, @min-radius, @min-radius, @min-radius);
  .transition;
  white-space: nowrap;
  margin: 0;
}

button:hover {
  background-color: lighten(@grey, 5%);
}

button:active {
  background-color: darken(@grey, 3%);
}

//Sizes
.fm-small-button {
  height: 30px;
  vertical-align: middle;
  font-size: 1em;
  padding: 0 10px;
}

.fm-middle-button {
  height: 40px;
  vertical-align: middle;
  font-size: 1.071em;
  padding: 0 15px;
}

.fm-big-button {
  height: 50px;
  vertical-align: middle;
  font-size: 1.143em;
  padding: 0 20px;
}

//Colors
//Dark-grey
.fm-button-d-gray {
  background: @dark-grey;
  color: @white;
}

.fm-button-d-gray:hover {
  background-color: lighten(@dark-grey, 5%);
}

.fm-button-d-gray:active {
  background-color: darken(@dark-grey, 3%);
}

//Blue
.fm-button-blue {
  background: @blue;
  color: @white;
}

.fm-button-blue:hover {
  background-color: lighten(@blue, 5%);
}

.fm-button-blue:active {
  background-color: darken(@blue, 3%);
}

//Violet
.fm-button-violet {
  background: @violet;
  color: @white;
}

.fm-button-violet:hover {
  background-color: lighten(@violet, 5%);
}

.fm-button-violet:active {
  background-color: darken(@violet, 3%);
}

//Green
.fm-button-green {
  background: @green;
  color: @white;
}

.fm-button-green:hover {
  background-color: lighten(@green, 5%);
}

.fm-button-green:active {
  background-color: darken(@green, 3%);
}

//Yellow
.fm-button-yellow {
  background: @yellow;
  color: @white;
}

.fm-button-yellow:hover {
  background-color: lighten(@yellow, 5%);
}

.fm-button-yellow:active {
  background-color: darken(@yellow, 3%);
}


//Red
.fm-button-red {
  background: @red;
  color: @white;
}

.fm-button-red:hover {
  background-color: lighten(@red, 5%);
}

.fm-button-red:active {
  background-color: darken(@red, 3%);
}
