p.small {
  margin: 0;
  font-size: 0.8333333333333334em;
  line-height: 2.2em;
  margin-bottom: 2.2em;
}

p {
  text-indent: @p-text-ident;
  font-size: 1em; /* 14px */
  line-height: 1.4286em; /* 20px */
  margin: 0 0 1.4286em 0;
  color: @base-text-color;
  max-width: @p-max-width;
}
