p.small {
  margin: 0 0 1.4286em 0;
  font-size: 0.929em;
  line-height: 1.4286em; /* 20px */
}

p {
  font-size: 1em; /* 14px */
  line-height: 1.4286em; /* 20px */
  margin: 0 0 1.4286em 0;
}

.semibold {
  font-weight: 600;
}

b {
  color: @dark-blue;
  display: block;
}